.actions .dividerText {
  font-size: 16px;
  font-weight: 500;
}

.actions .accountText {
  font-size: 18px;
  font-weight: 400;
}

.actions .createLink {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}
