.header {
  margin-bottom: var(--ant-margin-lg);
}

.logoOuter {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 2px;
  background: var(--ant-color-bg-container);
  margin-bottom: var(--ant-margin-md);
}

.logoInner {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid transparent;
  background:
    linear-gradient(to bottom, var(--ant-color-bg-layout), var(--ant-color-bg-container) 50%)
      padding-box,
    linear-gradient(to bottom, var(--ant-color-border-secondary), var(--ant-color-bg-container))
      border-box;
}
